/*****************************Page**********************************/

/*pour normaliser a taille de la page HTML pour les fonts size enfants les mettre en REM. ex: 1.6rem = 16px*/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}


@font-face {
    font-family: 'Ubuntu';
    src: url('/font/Ubuntu-Bold.ttf') format('truetype') url('/font/Ubuntu-BoldItalic.ttf') format('truetype') url('/font/Ubuntu-Italic.ttf') format('truetype') url('/font/Ubuntu-Ligh.ttf') format('truetype') url('/font/Ubuntu-LighItalic.ttf') format('truetype') url('/font/Ubuntu-Medium.ttf') format('truetype') url('/font/Ubuntu-MediumItalic.ttf') format('truetype') url('/font/Ubuntu-Regular.ttf') format('truetype');
}

* {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-variant: normal;
}

#block-projet {
}

h1 {
    font-size: 2.2rem;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: #2B0A3D;
}

h2 {
    font-size: 2.0rem;
    font-variant: normal;
    color: black;
    text-align: center;
}

h3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 15.4px;
    color: #2B0A3D;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
    color: #2B0A3D;
}

blockquote {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    color: #2B0A3D;
}

pre {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 18.5714px;
    color: #2B0A3D;
}

a {
    color: black;
    font-size:1.5rem;
}


#stats {
    margin-top: 3%;
    list-style: none;
    background-color: #2B0A3D;
    width: 100%;
    padding: 0%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    #stats li {
        list-style: none;
        padding: 2%;
        margin: 3%;
        border: 3px white solid;
        width: 50%;
        text-align: center;
        font-size: 2.0rem;
    }

.count {
    /* font-weight: bold;*/
}

#image-rondin {
    text-align: center;
    background: url('../css/logos/rondinFloue.jpg') center no-repeat;
}

/****************BALISE ANCRAGE*********/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #95E510; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }


/***************entête*****************/
#sogeti-labs-logo-menu {
    margin-bottom: 5%;
    max-width: 300px;
    width: 125%;
}

#navMenu {
    margin-top: 1%;
    padding-left: 2%;
    margin-left: 0%;
    align-content: flex-start;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-style: normal;
}

.header-home-wave {
  
    background-color: transparent;
  
}




.navbar-sogeti {
    display: inline-block;
    float: right;
    font-size: 2rem;
}

.navbar-dark .navbar-toggler {
    color: white;
    /*border-color: white;*/
    font-size: 1.4rem;
    background-color: #EF304C;
}

.navbar-toggler-icon {
    width: 2em;
    height: 2em;
}

.burger {
    margin-top: 2%;
    float: right;
}
.entete {
    margin: auto;
    font-size: 3.2rem;
    color: peru;
}
/*********entete Index**********/

#deconnexion {
    background-color: peru;

    color: black;
    border: none;
}


/*************Connexion*************************/
#co {
}

#form-connexion {
    text-align: center;
    background: url('../css/logos/rondin.jpg') center no-repeat;
}

.id{
    font-size:1.9rem;
    color:white;
}

.mdp {
    font-size: 1.9rem;
    color:white;
}

#connexion {
    background-color: peru;
    width: 10em;
    height: 4em;
    color: black;
    border: none;
   
}

/*************Footer*************************/
#footer-entire {
    background-color: #ececec;
    position: initial;
    color: #12B3DB;
    margin-top: 10%;
}

.items-social-links li {
    padding: 1%;
    display: inline-block;
    }

.items-social-links img {
    max-width: 30px;
}

#footer-entire p  {
    color: #12B3DB;
    
    
}
#madera-logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 90px;
    vertical-align: middle;
}
.text-voltik{


}

/*************************Espace perso***************/
.buttonPerso{

    text-align:center;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.9rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: peru;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}
/************************Liste Clients********************/
/* Fond du gadget de la barre de recherche */
.recherche_p {
    background-color: #eeeeee; /* Couleur de fond */
    border-style: solid; /* Style de la bordure  */
    border-width: 1px; /* Epaisseur de la bordure  */
    border-color: #dddddd; /* Couleur de la bordure  */
    padding: 10px 10px 10px 10px; /* Espace entre les bords et le contenu : haut droite bas gauche  */
}

#searchthis #search {
    background-color: #ffffff; /* Couleur de fond */
    border-style: solid; /* Style de la bordure  */
    border-width: 1px; /* Epaisseur de la bordure  */
    border-color: #dddddd; /* Couleur de la bordure  */
}


.listeClient {
    list-style-type: none;

}

/*********************CréationClient********************/




#sauvegarde {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.9rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: peru;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}